@{
    ViewData["Title"] = "Feminino";
}
<center>
    <div class="card" style="width: 18rem;">
        <img src="~/img/Ropa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Kit Festa06</h5>
            <p class="card-text">Este é apenas um texto demonstrativo sobre o texto conteudo do seu item</p>
            <a href="#" class="btn btn-primary">Colocar no Carrinho</a>
        </div>
    </div>
</center>